{% extends "base.html" %}
{% block head %}
<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin="" />
<style>
  .leaflet-default-icon-path {
    /* used only in path-guessing heuristic, see L.Icon.Default */
    background-image: url(/static/images/marker-icon.png);
  }
</style>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
{% endblock %}
{% block title %}Strona główna{% endblock %}
{% block navbar %}
{% if user.is_authenticated %}
<a href="{{selected_city}}/pitchcreate">Dodaj boisko</a>
<a href="{{selected_city}}/games">Stwórz grę</a>
{% endif %}
{% endblock %}
{% block content %}
<p>Lista aktywnych gier: </p>
{% for one_pitch_matches in all_matches %}
{% for onematch in one_pitch_matches %}
<li>
  <a href="{{selected_city}}/{{onematch.id}}">{{onematch}}</a>
</li>
{% endfor %}
{% endfor %}
<div id="map"></div>
<script>
  var map = L.map('map').setView([50.0586, 19.9510], 12);
  var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
</script>
{% for coordinates in all_coordinates %}
<script>
  var marker = L.marker([{{ coordinates }}]).addTo(map)
</script>
{% endfor %}
{% endblock %}