{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
{% endblock %}
{% block title %}Strona główna{% endblock %}
{% block navbar %}
{% if user.is_authenticated %}
<a href="{{selected_city}}/pitchcreate">Dodaj boisko</a>
<a href="{{selected_city}}/games">Stwórz grę</a>
{% endif%}
{% endblock %}
{% block content %}
<p>Lista aktywnych gier: </p>
{% for one_pitch_matches in all_matches %}
{% for onematch in one_pitch_matches %}
<li>
  <a href="{{selected_city}}/{{onematch.id}}">{{onematch}}</a>
</li>
{% endfor %}
{% endfor %}
<div id="map"></div>
<script>
    var map = L.map('map').setView([52.2333, 21.062], 11);
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
</script>
{% for coordinates in all_coordinates %}
  <script>
      var marker = L.marker([{{coordinates}}]).addTo(map)
  </script>
{% endfor %}
{% endblock %}